---
layout: page
# The Category layout
---
{% include lang.html %}

<div id="page-category">
  <h1 class="ps-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    {{ page.title }}
    <span class="lead text-muted ps-2">{{ page.posts | size }}</span>
  </h1>

  <ul class="content ps-0">
    {% for post in page.posts %}
      <li class="d-flex justify-content-between px-md-3">
        <a href="{{ post.url | relative_url }}">REP-{{ post.REP }}: {{ post.title }}</a>
        <span class="dash flex-grow-1"></span>
        <!-- tags -->
        {% if post.tags.size > 0 %}
          {% comment %} <i class="fas fa-gears fa-fw"></i> {% endcomment %}
          <span class="tags">
            {% for tag_name in post.tags %}
              {% assign url = tag_name | slugify | url_encode | prepend: '/tags/' | append: '/' %}
              <a class="post-tag btn btn-outline-primary" href="{{ url | relative_url }}"
                ><i class="fas fa-gears fa-fw"></i> {{ tag_name }}
              </a>
            {% endfor %}
          </span>
        {% endif %}
        {% include datetime.html date=post.date class='text-muted small text-nowrap' lang=lang %}
      </li>
    {% endfor %}
  </ul>
</div>
